$game_card_border_radius: 12px;
$game_card_hover_scale: scale(1.036) translateY(6px);

.gameCardWrapper {
    z-index: 10;
    transition: $transition_effect_md;

    &.cardHovering {
        position: relative;
        z-index: 50;
        transform: $game_card_hover_scale;

        overflow: visible !important;
    }
}

.gameCard {
    border-radius: $game_card_border_radius;
    overflow: hidden;

    @include flexColumn;
    align-items: stretch;

    &.cardHovering {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.gameCardMedia {
    width: 100%;
    height: 100%;
    // aspect-ratio: 280 / 158;
    // @include flexCenter;
    // position: relative;
}

.cardMediaWrapper {
    width: 100%;
    height: 100%;

    &.mediaDisplayed {
        aspect-ratio: 280 / 158;
        // @include flexCenter;
    }

    img {
        width: 100%;
        height: 100%;
        // aspect-ratio: 280 / 158;
        object-fit: cover;
        object-position: center;
    }
}

.cardMediaLibrary {
    width: 100%;
    height: 100%;

    position: relative;
}

.gameCardInfo,
.gameCardExtraInfo {
    padding: $game_card_info_padding;
    @include flexColumn;
    align-items: stretch;
    gap: clamp(6px, 0.8rem, 10px);

    background-color: var(--game_card_bg);
    transition: $transition_effect_md;
}

.platformsWrapper {
    @include flexCenter;
    justify-content: flex-start;
    gap: clamp(2px, 2.6rem, 4px);

    svg path,
    svg line,
    svg polyline {
        fill: currentColor;
        // stroke: currentColor;
    }

    svg {
        height: $fs_normal_md;
        color: var(--text_color);
        transition: $transition_effect_md;
    }
}

.gameName {
    display: inline;
    width: fit-content;

    font-size: $fs_heading_3sm;
    font-weight: 760;
    color: var(--text_color);
    transition: $transition_effect_md;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.16em;
    }
}

.gamePricesAndLike {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pricesWrapper {
        @include flexCenter;
        gap: clamp(8px, 1rem, 12px);

        .discountPrice,
        .oldPrice {
            font-family: 'Poppins';
            transition: $transition_effect_md;
            cursor: default;
        }

        .discountPrice {
            font-size: $fs_normal_xl;
            font-weight: 700;
            color: $primary_light_color;
        }

        .oldPrice {
            font-size: calc($fs_normal_xl * 0.76);
            font-weight: 600;
            text-decoration: line-through;
            color: color-mix(in srgb, var(--text_color) 26%, transparent);
        }
    }

    .gameLikeBtn {
        cursor: pointer;
        background-color: transparent;

        svg path,
        svg line,
        svg polyline {
            // fill: currentColor;
            stroke: currentColor;
        }

        svg {
            height: $fs_normal_md;
            color: var(--text_color);
            transition: $transition_effect_md;
        }

        &:hover {
            svg {
                color: $primary_color;
            }
        }
    }
}

.gameCardExtraInfo {
    position: absolute;
    top: 94%;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--game_card_bg);
    padding-top: 0;
    padding-bottom: $game_card_extra_info_padding_bottom;

    border-bottom-right-radius: $game_card_border_radius;
    border-bottom-left-radius: $game_card_border_radius;
}

.gameDetailInfoWrapper {
    @include flexColumn;
    align-items: stretch;

    .detailInfoItem {
        font-size: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
        padding: 1em 0;

        border-bottom: 1px solid color-mix(in srgb, var(--in_focus_gray) 70%, transparent);

        .detailInfoTitle {
            flex-shrink: 0;
            font-size: $fs_normal_3sm;
            color: color-mix(in srgb, var(--text_color) 86%, transparent);
            transition: $transition_effect_md;
            cursor: default;
        }
    }

    & > *:last-child {
        border: none;
    }
}

.detailInfoWrapper {
    @include flexCenter;
    justify-content: flex-end;
    gap: 4px;
    flex-wrap: wrap;
}

.detailInfoText {
    @include flexCenter;
    cursor: default;

    svg {
        fill: currentColor;
        color: $yellow_color;
        height: $fs_normal_ssm;
    }
}

.detailInfoText,
.gameInfoLinkWrapper,
.gameInfoLinkWrapper a {
    transition: $transition_effect_md;
    font-size: calc($fs_normal_ssm * 0.96);
    font-size: $fs_normal_ssm;
    color: var(--text_color);
}

.gameInfoLinkWrapper {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.addToCartBtn {
    font-size: $fs_normal_md;
    font-weight: 600;
    color: $black_text;
    padding: 1rem;
    border-radius: 8px;
    background-color: $primary_lighter_color;
    transition: $transition_effect_md;

    &:hover {
        color: $white_text;
        background-color: $primary_color;
    }
}
